{% extends "catalog/base_template.html" %}

{% load static %}
{% block title %}{{ movie.title }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Movie Poster -->
        <div class="col-md-4">
            <img src="{{ movie.poster }}" class="img-fluid rounded mb-4" alt="{{ movie.title }} Poster">
        </div>
        
        <!-- Movie Details -->
        <div class="col-md-8">
            <h1>{{ movie.title }}</h1>
            <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
            <p><strong>Duration:</strong> {{ movie.movie_duration }}</p>
            <p><strong>IMDb Rating:</strong> {{ movie.imdb_rating }}/10</p>
            <p><strong>Average User Rating:</strong> {{ movie.average_rating|floatformat:1 }}/5</p>
            <p><strong>Language:</strong> {{ movie.language.title }}</p>
            <p><strong>Country:</strong> {{ movie.country.name }}</p>
            <p><strong>Genres:</strong>
                 {% for genre in movie.genres.all %}
                    <a href="{% url 'catalog:movie_list_by_genre' genre.slug %}" class="text-decoration-none">{{ genre.name }}</a>
                    {% if not forloop.last %}, {% endif %}
                 {% endfor %}
                </p>
            <p><strong>Director:</strong> {{ movie.director.name }}</p>
            <p><strong>Actors:</strong> {% for actor in movie.actors.all %}{{ actor.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            <p><strong>Plot:</strong></p>
            <p>{{ movie.plot }}</p>
        </div>

    </div>

    <!-- Similar Movies -->
     {% if similar_movies_list %}
    <div class="row pt-4 pb-4">
        <h2>Similar Movies</h2>
        <div class="d-flex">
            {% for similar_movie in similar_movies_list %}
            <a href="{{ similar_movie.get_absolute_url }}" class="d-block me-2 mb-2">
                <img src="{{ similar_movie.poster }}" class="rounded" id="small-poster" alt="{{ similar_movie.title }} Poster">
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!-- Reviews Section -->
    <div class="mt-5">
        <h2>Reviews</h2>
        <div class="container p-5">
            {% if user.is_authenticated %}
            <div class="row"> 
                <div class="col-md-6">
                    {% include "catalog/movie/includes/review_form.html" %}
                </div>
            </div>
            {% endif %}
            {% if movie.reviews.exists %}
            <div class="list-group mb-4">
                {% for review in movie.reviews.all %}
                    <div class="list-group-item mb-4 mt-4">
                        <h5 class="mb-1">{{ review.title }}</h5>
                        <p class="mb-1">{{ review.body }}</p>
                        <small class="text-muted">Rating: {{ review.rating }}/5</small>
                        <br>
                        <small class="text-muted">Reviewed by {{ review.author.username }} on {{ review.created|date:"F j, Y" }}</small>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No reviews yet.</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
